/* iOS Cordova Tweak */
.device-cordova.device-ios {
  height: 100vh;
}

.demo-card-header-pic .card-header {
  height: 40vw;
  background-size: cover;
  background-position: center;
  color: #fff;
}

/* Your app custom styles here */